body {
    margin: 0px;
}

.Container {
    display: flex;
}

.SettingBar {
    background-color: #14453D;
    height: 89.5vh;
    width: 50px;
    margin-top: 10.5vh;
}

.SettingBar ul {
    list-style: none;
    position: absolute;
    padding-left:25px;
    padding-right:12px;
    bottom:0;
}

.SettingBar ul li img{
    width: 25px;
    height: 25px; 
    position: absolute;
    display: block;
    transition: all 0.3s ease;
    transform: translate(-50%)
}

.SettingBar ul li img:hover {
    width: 30px;
    height: 30px;
}

#settingIcon img {
    bottom:32px;
}

#helpIcon img {
    bottom:0px;
}

.NavigationBar {
    inset-block:inherit;
    background-color: #3D7068;
    height: 89.5vh;
    width: 250px;
    margin-top: 10.5vh;
}

.ContentBar {
    background-color: #14453D;
    height: 89.5vh;
    width: 500px;
    margin-top: 10.5vh;
}

