body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: beige;
    background-color: black;    
}

.Title {
    /* vertical-align: middle; */
    font-size: 40px;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    background-color: transparent;
}

#GameStatus {
    font-size: 25px;
    position: fixed;
    left: 50%;
    top: 500px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
    background-color: transparent;  
}

#GameStatus:hover {
    box-shadow: -20px 20px 800px rgb(255, 255, 255), 0px 10px 10px rgb(145, 145, 145), 10px 10px 10px rgb(59, 59, 59); /* Adjust colors and sizes */
}

.Title:hover {
    box-shadow: 10px 10px 10px rgb(177, 177, 177), 0px 0px 10px rgb(30, 30, 30), 10px 10px 10px rgb(59, 59, 59); /* Adjust colors and sizes */
}

#Restart{
    background-image: url('resources/Restart/Restart.png');
    top: 450px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 95%;
    cursor: pointer;
    background-size: cover;
}

@media (max-height: 60px) {
    #Restart {
        display: none;
    }
}

table {
    margin: auto;
    margin-top: 50px;
    border-collapse: collapse;
}

td {
    padding: 40px;
    border-width: 5px;
    border-color: white;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.1s ease;
}

#cell1 {
    border-color: white;
    border-left: none;
    border-top: none;

}

#cell2 {
    border-top: none;
}

#cell3 {
    border-right: none;
    border-top: none;
}

#cell4 {
    border-left: none;
}

#cell5 {
}

#cell6 {
    border-right: none;
}

#cell7 {
    border-bottom: none;
    border-left: none;
}

#cell8 {
    border-bottom: none;
}

#cell9 {
    border-right: none;
    border-bottom: none;
}