body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    color: beige;
    background-color: black;
}

span {
    vertical-align: middle;
    font-weight: 10px;
    /* font-size: ; */
}

span:hover {
    animation: changeColorHeading 3s infinite alternate;
}

.Container{
    position: relative;
}

.Horizontal-Line-One {
    height: 6px;
    background-color: white;
    width: 450px;
    top: 150px;
    position: absolute;
}

.Horizontal-Line-Two {
    height: 6px;
    background-color: white;
    width: 450px;
    top: 300px;
    position: absolute;
}

.Vertical-Line-One {
    border-left: 2px solid rgb(255, 255, 255);
    height: 450px;
    margin: -20px;
    
}

@keyframes changeColorHeading {
    0% {
        color: rgb(0, 242, 93);
    }
    25% {
        color: rgb(59, 255, 245);
    }
    50% {
        color: rgb(255, 255, 0);
    }
    75% {
        color: rgb(255, 48, 48);
    }
    100% {
        color: rgb(255, 0, 221);
    }
}